# dependencies
node_modules
.pnpm-store

# env
.env
.env.local
.env.*.local
!.env.example

# build outputs
dist
out
.next
.turbo
build

# foundry
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast/**/dry-run
packages/contracts/broadcast/**/*-latest.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors
.vscode
.idea
.DS_Store

# coverage
coverage
*.lcov
lcov.info
